
@mixin card($color, $font-color, $box-shadow, $font-weight, $p-font-size, $max-width, $quote-color, $quote-after-content, $quote-before-content, $bottom-font-size) {   
  background: $color;
  box-shadow: $box-shadow;
  color: $font-color;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  font-style: italic;
  position: relative;
  overflow: hidden;
  min-height: 120px;
  font-size: $bottom-font-size;
  margin-top: 10px;
  display: block;
  font-weight: $font-weight;


  :before {
      font-family: Georgia;
      content: $quote-before-content;
      position: absolute;
      top: -30px;
      left: 10px;
      font-size: 5em;
      color: $quote-color;
      font-weight: normal;
    }
  :after {
      font-family: Georgia;
      content: $quote-after-content;
      position: absolute;
      bottom: -150px;
      line-height: 100px;
      right: -32px;
      font-size: 20em;
      color: $quote-color;
      font-weight: normal;
  }
}

// 폰트
@mixin qfont($qfont-font-family, $qfont-font-style, $qfont-font-weight, $qfont-font-size, $qfont-font-color) {
  font-family: $qfont-font-family;
  font-style: $qfont-font-style;
  font-weight: $qfont-font-weight;
  font-size: $qfont-font-size;
  color: $qfont-font-color;
  line-height: 1.5;
  margin-left: 17px;
  max-width: 80%;
}

