@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Black+And+White+Picture&family=Kirang+Haerang&family=Nanum+Pen+Script&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);


$root-font-sizes: 24px;
$root-font-size: 1.65rem;
$root-font-family: 'Nanum Pen Script', cursive;
$root-font-style: normal;
$root-font-weight: normal;

$cur-font-family: 'Architects Daughter', cursive;
$sanse-font-family: 'Black And White Picture', sans-serif;
$kirang-font-family: 'Kirang Haerang', cursive;

